@import url('https://fonts.googleapis.com/css2?family=Dongle:wght@300&display=swap');
@import 'reset.css';
@import 'variables.css';

/* components */
@import 'components/status-bar.css';
@import 'components/nav-bar.css';
@import 'components/screen-header.css';
@import 'components/user-component.css';
@import 'components/message-badge.css';
@import 'components/icon-row.css';
@import 'components/alt-header.css';

/* screens */
@import 'screens/login.css';
@import 'screens/friends.css';
@import 'screens/chats.css';
@import 'screens/find.css';
@import 'screens/more.css';
@import 'screens/settings.css';

body {
  font-family: 'Dongle', sans-serif;
  color: #2e363e;
}

.main-screen {
  padding: var(--horizontal-space);
}
