#chat-room-screen {
  background-color: #abc1d1;
  height: 10000vh;
}

#chat-room-screen .alt-header {
  top: 0;
  position: fixed;
  width: 100%;
  box-sizing: border-box;
  background-color: #abc1d1;
  z-index: 1;
}

.chat-status-bar {
  background-color: #abc1d1;
}

.main-chat {
  margin-top: 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 25px 15px;
}

.main-chat__timestamp {
  color: white;
  background-color: #92a4b2;
  padding: 4px 15px;
  border-radius: 16px;
  font-size: 18px;
}

.message-row {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  margin: 15px 0px;
}

.message-row img {
  width: 50px;
  height: 50px;
  border-radius: 15px;
  margin-right: 10px;
}

.message-row__author {
  opacity: 0.8;
  font-size: 23px;
}

.message-row__info {
  display: flex;
  align-items: flex-end;
}

.message-row__text {
  background-color: white;
  padding: 4px 8px;
  font-size: 24px;
  border-radius: 20px;
  border-top-left-radius: 0px;
  margin-right: 7px;
}

.message-row--own {
  justify-content: flex-end;
}

.message-row--own .message-row__text {
  background-color: var(--yellow);
  border-top-right-radius: 0px;
  border-top-left-radius: 20px;
  margin-right: 0px;
  margin-left: 7px;
}

.message-row--own .message-row__info {
  flex-direction: row-reverse;
}

.reply {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 25px;
  box-sizing: border-box;
}

.reply .reply__column:first-child {
  width: 10%;
  position: relative;
}

.reply .reply__column:last-child {
  width: 90%;
  position: relative;
}

.reply input {
  height: 24px;
  width: 100%;
  border: var(--gray-1px-border);
  border-radius: 20px;
  padding: 5px;
}

.reply i {
  opacity: 0.8;
}

.reply__column:first-child > i {
  position: absolute;
  font-size: 22px;
  top: 0px;
  left: -4px;
}

.reply__column:last-child > i,
.reply__column:last-child button {
  position: absolute;
  right: -8px;
  top: 3px;
}

.reply__column:last-child > i {
  right: 35px;
  top: 16.5px;
}

.reply__column button {
  background-color: var(--yellow);
  border: none;
  border-radius: 50%;
  width: 30px;
  height: 30px;
}

.reply__column button i {
  opacity: 1;
}

.reply__column button:focus,
.reply__column button:active {
  outline: none;
}
