#friends-display-link {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  background-color: #f3f1f1;
  padding: 10px 0px;
}

#friends-display-link i {
  font-size: 20px;
  margin: 0px 10px;
  color: #696464;
}

.friends-screen {
  padding: var(--horizontal-space);
}

.friends-screen__channel-header {
  display: flex;
  justify-content: space-between;
  padding: 10px 0px;
  border-top: var(--gray-1px-border);
  color: rgba(0, 0, 0, 0.5);
}

.friends-screen__channel-header span {
  font-size: 25px;
}

@keyframes hiddenSplashScreen {
  form {
    opacity: 1;
  }
  to {
    opacity: 0;
    visibility: hidden;
  }
}

#splash-screen {
  background-color: var(--yellow);
  position: absolute;
  height: 100vh;
  width: 100vw;
  top: 0;
  z-index: 3;

  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 96px;

  animation: hiddenSplashScreen 0.4s ease-in-out forwards;
  animation-delay: 1.5s;
}
