.introduce-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 90px 0px;
  text-align: center;
}

.introduce-header__title {
  font-size: 50px;
  margin-bottom: 20px;
}

.introduce-header__text {
  width: 60%;
  opacity: 0.6;
  font-size: 23px;
}

#login-form {
  display: flex;
  flex-direction: column;
  margin: 0px 30px;
}

#login-form input {
  border: none;
  padding: 15px 0px;
  margin-bottom: 20px;
  font-size: 15px;
}

#login-form input:not([type='submit']) {
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  transition: border-color 0.3s ease-in-out;
}

#login-form input::placeholder {
  opacity: 0.4;
}

#login-form input:focus {
  border-color: var(--yellow);
}

#login-form input[type='submit'] {
  background-color: var(--yellow);
  cursor: pointer;
  padding: 20px 0px;
  border-radius: 5px;
}

#login-form a {
  text-align: center;
  text-decoration: none;
  color: inherit;
  font-size: 20px;
}
