.nav {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #f3f1f1;
  padding: 20px 50px;
  box-sizing: border-box;
  border-top: 1px solid rgba(129, 129, 129, 0.253);
}

.nav__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__link {
  position: relative;
}

.nav__message-count {
  position: absolute;
  left: 18px;
  bottom: 23px;
}

.nav__notification {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: tomato;
  border-radius: 50%;
  width: 8px;
  height: 8px;
  position: absolute;
  left: 32px;
  bottom: 32px;
}
