.user-component{
    justify-content: space-between;
}

.user-component, .user-component__column:first-child{
    display: flex;
    align-items: center;
}

.user-component__avatar{
    width: 70px;
    height: 70px;
    border-radius: 25px;
    margin: 10px;
}

.user-component__avatar--xl{
    width: 80px;
    height: 80px;
}

.user-component__avatar--sm{
    width: 60px;
    height: 60px;
}


.user-component__name{
    font-weight: 800;
    font-size: 30px;
}

.user-component__name--not-bold{
    font-weight: 300;
}

.user-component__message{
    font-size: 23px;
    color: var(--my-gray-color);
}

.user-component__column span{
    font-size: 25px;
}

.user-component__column:last-child{
    color: var(--my-gray-color);
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}